<!--<div fxLayout="row" style="height: 500px; background-color: yellow">-->
<!--  <div fxFlex fxLayout="row" fxLayoutGap="20px" style="background-color: green">-->
<!--    <div fxFlex="50" fxFlexAlign="end" style="background-color: aqua; height: 100px"></div>-->
<!--    <div fxFlex style="background-color: blueviolet"></div>-->
<!--    <div fxFlex style="background-color: aqua"></div>-->
<!--  </div>-->
<!--  <div fxFlex fxLayout="row">-->
<!--    <div fxFlexAlign="start">1. One</div>-->
<!--    <div fxFlexAlign="center">2. Two</div>-->
<!--    <div fxFlexAlign="center">3. Three</div>-->
<!--    <div fxFlexAlign="end">4. Four</div>-->
<!--  </div>-->
<!--  <div fxFlex style="background-color: blue"></div>-->
<!--</div>-->
<div fxLayout="column">
  <div style="height: 80px; background-color: blue"></div>
    <router-outlet></router-outlet>
</div>

